/* Dr. Paolo Ciccarese <paolo.ciccarese@gmail.com> */

.menu_nav {
	margin:0 auto;
	padding:0;
	float:right;
	padding-right: 10px;
	height:108px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:108px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:48px 16px 30px;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	color:#3f3f3f;
	text-decoration:none;
	text-transform:uppercase;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	background:#ffcc00;
}